@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans:
		var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-jaro: "jaro", "sans-serif";
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}
:root {
	--background: rgb(17, 24, 39);
	--foreground: rgb(249, 250, 251);
	--card: rgb(31, 41, 55);
	--card-foreground: rgb(249, 250, 251);
	--popover: rgb(31, 41, 55);
	--popover-foreground: rgb(249, 250, 251);
	--primary: rgb(232, 121, 249);
	--primary-foreground: rgb(30, 41, 59);
	--secondary: rgb(34, 211, 238);
	--secondary-foreground: rgb(15, 23, 42);
	--muted: rgb(55, 65, 81);
	--muted-foreground: rgb(156, 163, 175);
	--accent: rgb(253, 224, 71);
	--accent-foreground: rgb(66, 32, 6);
	--destructive: rgb(251, 113, 133);
	--destructive-foreground: rgb(76, 5, 25);
	--border: rgb(55, 65, 81);
	--input: rgb(55, 65, 81);
	--ring: rgb(232, 121, 249);
	--chart-1: rgb(232, 121, 249);
	--chart-2: rgb(34, 211, 238);
	--chart-3: rgb(251, 191, 36);
	--chart-4: rgb(167, 139, 250);
	--chart-5: rgb(52, 211, 153);
	--sidebar: rgb(31, 41, 55);
	--sidebar-foreground: rgb(249, 250, 251);
	--sidebar-primary: rgb(232, 121, 249);
	--sidebar-primary-foreground: rgb(30, 41, 59);
	--sidebar-accent: rgb(55, 65, 81);
	--sidebar-accent-foreground: rgb(249, 250, 251);
	--sidebar-border: rgb(55, 65, 81);
	--sidebar-ring: rgb(232, 121, 249);
	--font-sans: Poppins;
	--font-serif: Playfair Display;
	--font-mono: JetBrains Mono;
	--radius: 0.75rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 10px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.5;
	--shadow-color: #000000;
	--shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
	--shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
	--shadow-sm:
		0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
	--shadow:
		0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
	--shadow-md:
		0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 2px 4px -1px hsl(0 0% 0% / 0.5);
	--shadow-lg:
		0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 4px 6px -1px hsl(0 0% 0% / 0.5);
	--shadow-xl:
		0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 8px 10px -1px hsl(0 0% 0% / 0.5);
	--shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 1.25);
}

.dark {
	--background: rgb(17, 24, 39);
	--foreground: rgb(249, 250, 251);
	--card: rgb(31, 41, 55);
	--card-foreground: rgb(249, 250, 251);
	--popover: rgb(31, 41, 55);
	--popover-foreground: rgb(249, 250, 251);
	--primary: rgb(232, 121, 249);
	--primary-foreground: rgb(30, 41, 59);
	--secondary: rgb(34, 211, 238);
	--secondary-foreground: rgb(15, 23, 42);
	--muted: rgb(55, 65, 81);
	--muted-foreground: rgb(156, 163, 175);
	--accent: rgb(253, 224, 71);
	--accent-foreground: rgb(66, 32, 6);
	--destructive: rgb(251, 113, 133);
	--destructive-foreground: rgb(76, 5, 25);
	--border: rgb(55, 65, 81);
	--input: rgb(55, 65, 81);
	--ring: rgb(232, 121, 249);
	--chart-1: rgb(232, 121, 249);
	--chart-2: rgb(34, 211, 238);
	--chart-3: rgb(251, 191, 36);
	--chart-4: rgb(167, 139, 250);
	--chart-5: rgb(52, 211, 153);
	--sidebar: rgb(31, 41, 55);
	--sidebar-foreground: rgb(249, 250, 251);
	--sidebar-primary: rgb(232, 121, 249);
	--sidebar-primary-foreground: rgb(30, 41, 59);
	--sidebar-accent: rgb(55, 65, 81);
	--sidebar-accent-foreground: rgb(249, 250, 251);
	--sidebar-border: rgb(55, 65, 81);
	--sidebar-ring: rgb(232, 121, 249);
	--font-sans: Poppins;
	--font-serif: Playfair Display;
	--font-mono: JetBrains Mono;
	--radius: 0.75rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 10px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.5;
	--shadow-color: #000000;
	--shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
	--shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
	--shadow-sm:
		0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
	--shadow:
		0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
	--shadow-md:
		0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 2px 4px -1px hsl(0 0% 0% / 0.5);
	--shadow-lg:
		0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 4px 6px -1px hsl(0 0% 0% / 0.5);
	--shadow-xl:
		0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 8px 10px -1px hsl(0 0% 0% / 0.5);
	--shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 1.25);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
	letter-spacing: var(--tracking-normal);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply text-foreground;
	}
}
